
.home{
    margin-right: -30px;
    margin-top: -13px;
}



.ul-div{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}

.ul-div ul{
    display: flex;
    text-decoration: none;
    color: black;
}

.ul-div li{
    padding: 0px 30px;
    list-style: none;
    text-decoration: none;
    color: black   ;
}

.div-2{
        margin-right:290px;
        text-decoration: none;
        text-decoration: none;
        color: black;
}
.div-3{
    
    margin-left:-10px ;
    display: flex;
    text-decoration: none;

    padding-right:  10px;
    color: black;
}
.card1{
    margin-left: 20px;
    margin-top: 20px;
}
 .card2{
    margin-left: 650px;
    margin-top: -190px;
    width:150px;
    height:300px;



}
.card3{
    margin-left: 1200px;
    margin-top: -300px;
}
.card4{
    margin-left: 20px;
    margin-top: 50px;
}
.card5{
    margin-left: 600px;
    margin-top: -235px;
    width:150px;
    height:300px;



}
.card6{
    margin-left: 1200px;
    margin-top: -300px;
}


.card7{
    margin-left: 20px;
    margin-top: 50px;
}
.card8{
    margin-left: 600px;
    margin-top: -235px;
    width:150px;
    height:300px;



}
.card9{
    margin-left: 1200px;
    margin-top: -300px;
}
.card10{
background-color: rgb(255,153,153);

}
.card11{

    margin-left: 1000px;
    margin-top: -200px;
    background-color: rgb(255,153,153);
}
.card12{
    margin-left: 1000px;
}
.card13{
    margin-left: 1000px;
}

